<h1>Please select from the following options</h1>
<p>Select 1 entree and 2 sides and proceed to checkout<p>
	
<table>
	<tr>
		<th>Main Entrees:</th>
		<th>Side Dishes:</th>
	</tr>
	<tr>
		<td>
			<p>Cheeseburger</p>
			<img src="http://www.foodandwine.hu/wp-content/uploads/2013/07/pimiento-cheese-bacon-burgers-l.jpg" alt="Hamburger">
			<p>$4.00</p>
		</td>
		<td>
		<p>Fries</p>
		<img src="http://www.recipe4living.com/assets/itemimages/400/400/3/9a617379d4a38ca09d3ddb82d56ce173_fries.jpg" alt="Fries">
		<p>$1.50</p>
		</td>
	</tr>
	<hr />
	<tr>
		<td>
			<p>Hot Dog</p>
			<img src="http://cdn-img.health.com/sites/default/files/styles/400x400/public/migration/images/slides/chicken-hot-dog-bun-400x400.jpg?itok=2NYeRb8N" alt="Hot Dog">
			<p>$3.00</p>
		</td>
		<td>
			<p>Garden Salad</p>
			<img src="http://www.recipe4living.com/assets/itemimages/400/400/3/default_86dbd106beed0675b1b9d2521cf4690e_dreamstimesmall_8231072.jpg" alt="Garden Salad">
			<p>$2.00</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>Pasta</p>
			<img src="http://cdn-img.health.com/sites/default/files/styles/400x400/public/migration/img/web/2015/01/dijon-pasta-400x400.jpg?itok=hLH-bdDq" alt="Pasta">
			<p>$7.00</p>
		</td>
		<td>
			<p>Mixed Vegatables</p>
			<img src="http://thumbs.dreamstime.com/x/stir-fried-mixed-vegetables-rosemary-21233049.jpg" alt="Mixed Vegatables">
			<p>$2.00</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>Chicken Sandwhich</p>
			<img src="http://cdn-img.health.com/sites/default/files/styles/400x400/public/styles/main/public/curry-chicken-sandwiches-400x400.jpg" alt="Chicken Sandwhich">
			<p>$6.00</p>
		</td>
		<td>
			<p>Mashed Taters</p>
			<img src="http://potluck.ohmyveggies.com/wp-content/uploads/2015/11/crockpot-garlic-mashed-potatoes-2-400x400.jpg" alt"Mashed Taters">
			<p>$3.00</p>
		</td>
	</tr>
</table>
