<h3 class = 'entree_header'>Please select from the following options</h3>
<p>Select an entree with as many sides as your fat ass desires: <p>

<table class = 'center'>
	<tr>
		<th><h3>Main Entrees:</h3></th>
		<th><h3>Side Dishes:</h3></th>
	</tr>
	<tr>
		<td>
			<p>Cheeseburger</p>
			<img src='/images/cheeseburger.jpg' alt="Hamburger">
			<p>$4.00</p>
		</td>
		<td>
		<p>Fries</p>
		<img src='/images/fries.jpg'" alt="Fries">
		<p>$1.50</p>
		</td>
	</tr>
	<hr />
	<tr>
		<td>
			<p>Hot Dog</p>
			<img src='/images/hotdog.jpg' alt="Hot Dog">
			<p>$3.00</p>
		</td>
		<td>
			<p>Garden Salad</p>
			<img src="http://www.recipe4living.com/assets/itemimages/400/400/3/default_86dbd106beed0675b1b9d2521cf4690e_dreamstimesmall_8231072.jpg" alt="Garden Salad">
			<p>$2.00</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>Pasta</p>
			<img src='/images/pasta.jpg' alt="Pasta">
			<p>$7.00</p>
		</td>
		<td>
			<p>Mixed Vegatables</p>
			<img src='/images/mixedvegetable.jpg'>
			<p>$2.00</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>Chicken Sandwich</p>
			<img src='/images/chickensandwich.jpg' alt="Chicken Sandwhich">
			<p>$6.00</p>
		</td>
		<td>
			<p>Mashed Taters</p>
			<img src="/images/mashedpotatoes.jpg" alt"Mashed Taters">
			<p>$3.00</p>
		</td>
	</tr>
</table>


<a href= 'checkout' class = 'button'> Order Now </a>

