<h3> Your total will be: <%= format("$%.2f", @total) %> </h3>



<p> Payment Options: </p>
	<ol>
		<li>Cash</li>
		<li>Credit Card</li>
		<li>Paypal</li>
	</ol>

<a href= 'entrees' class = 'button'> Main Menu </a>