<h3> Your total will be: <%= format("$%.2f", @total) %> </h3>



<p> Payment Options: </p>
	<ol>
		<li>Cash</li>
		<li><a href='https://usa.visa.com/' target=_blank>Credit Card</a></li>
		<li><a href=https://www.paypal.com/home target=_blank>Paypal</a></li>
	</ol>

<a href= 'entrees' class = 'button'> Main Menu </a>