<html>
<head>
	<title>Casino Web App</title>
	<link rel="stylesheet" type='text/css' href='/stylesheets/style.css'/>
</head>

<body>
<!--you can put anything in the layout body that you want rendered on each ERB template...this will show whatever you want in the header...Nav bar, images, whatever-->
	<%= yield %>
</body>
</html>
