<!DOCTYPE html>
<html>
<head>
	<title>Lunch Lady Web App</title>
	<link rel="stylesheet" type='text/css' href='/stylesheets/style.css'/>
		<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="Demo project">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">        
      <style type="text/css"></style>
</head>
	<div class = 'banner'>
	<header class= 'title'>
		<h1> DPL's Dirty Kitchen </h1>
	</header>
	</div>

<body class = 'body'>
<!--you can put anything in the layout body that you want rendered on each ERB template...this will show whatever you want in the header...Nav bar, images, whatever-->
	<%= yield %>

	<footer class = 'banner'>
		<h1 class = 'title'> Dave, teach us some rails </h1>
	</footer>
</body>
</html>
